/* Bar */

* {
	font-family: "Inter";
	font-size: 11px;
}

window#waybar {
	background-color: transparent;
}

/* Tooltips */

tooltip {
	background: #f7f7f9; 
	padding: 0px;
	border: 1px solid rgba(140,149,159,0.2);
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(140,149,159,0.1);
	margin: 15px;
}

tooltip label {
	background: #f7f7f9;
	text-shadow: none;
	color: #94949f;
	font-weight: bold;
	padding: 0px 5px;
}

/* Buttons */

@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces button {
	border: none;
	color:  #79829d;
	padding: 3px;
	background: transparent;
	box-shadow: none;
}

#workspaces button.active {
	color:  #53586c;
	background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%);
	animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
	color: #194fff;	
	background: radial-gradient(circle, rgba(25, 79, 255, 0.3) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.persistent {
	color: rgba(128, 142, 194, 0.3);
}

#workspaces button:hover {
	border: none;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.active:hover, #workspaces button.urgent:hover {
	background: inherit;
}

/* Indicators */

#battery, #clock, #network {
	/* color: #f7f7f9; */
	font-weight: bold;
	/* color: rgba(128, 142, 194, 0.8); */
	color: #79829d;
	background-color: transparent;
}

#clock {
	padding: 0px 5px 0 12px;
	border-radius: 0% 0% 0% 15%;
}

#network {
	padding: 0px 5px 0px 0px;
}

#battery {
	padding: 0px 12px 0 5px;
	border-radius: 0%;
	margin-right: 0px;
}

#battery.warning {
	color: #194fff;
}

#battery.critical {
	color: #e0589a;
}

