/* Bar */

* {
	font-family: "Inter";
	font-size: 11px;
}

window#waybar {
	background-color: transparent;
}

/* Tooltips */

tooltip {
	/* background: #f7f7f9;  */
	background: rgba(242, 244, 247, 0.9);
	padding: 0px;
	border: 1px solid rgba(168, 176, 185, 0.1);
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(140,149,159,0.1);
	margin: 0px;
}

tooltip label {
	/* background: #f7f7f9; */
	text-shadow: none;
	color: #94949f;
	/* color: #53586c; */
	/* color: #f9f9f9; */
	font-weight: bold;
	padding: 0px 5px;
}

/* Buttons */

@keyframes button_activate {
	from { opacity: .1 }
	to { opacity: 1.; }
}

#workspaces {
	background: rgba(219, 219, 219, .5);
	padding: 0px 5px;
	border-radius: 25px;
}

#workspaces button {
	border: none;
	/* color:  #79829d; */
	color:  #ececf1;
	padding: 3px;
	background: transparent;
	box-shadow: none;
}

#workspaces button.active {
	/* color:  #53586c; */
	color:  #f9f9f9;
	/* background: radial-gradient(circle, rgba(20, 48, 187, 0.699) 5%, rgba(36, 39, 54, 0.5) 18%, rgba(132,129,156,0) 23%, rgba(70, 76, 98, 0.201) 24%, rgba(132,129,156,0) 30%); */
	animation: button_activate .2s ease-in-out;
}

#workspaces button.urgent {
	/* color: #194fff;	 */
	color: #f9f9f9;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.699) 5%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0) 16%, rgba(255, 255, 255, 0.5) 22%, rgba(255, 255, 255, 0) 26%);
	/* background: radial-gradient(circle, rgba(252, 252, 255, 0) 15%, rgba(132,129,156,0) 30%); */
}

#workspaces button.persistent {
	color: rgba(170, 176, 197, 0.3);
}

#workspaces button:hover {
	border: none;
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

#workspaces button.active:hover, #workspaces button.urgent:hover {
	background: radial-gradient(circle, rgba(25, 79, 255, 0.1) 20%, rgba(132,129,156,0) 30%);
}

/* Indicators */

#battery, #clock, #network {
	/* color: #f7f7f9; */
	font-weight: bold;
	/* color: rgba(128, 142, 194, 0.8); */
	/* color: #53586c; */
	color: #ececf1;
	background-color: transparent;
}

#clock {
	padding: 0px 5px 0 12px;
	border-radius: 0% 0% 0% 15%;
}

#network {
	padding: 0px 5px 0px 0px;
}

#battery {
	padding: 0px 12px 0 5px;
	border-radius: 0%;
	margin-right: 0px;
}

#battery.warning {
	color: #194fff;
}

#battery.critical {
	color: #e0589a;
}

